.content
  .level
    .level-left
      .level-item
        p.control
          a.button.is-primary Upload
      .level-item
        p.control
          a.button.is-primary Create Folder
      .level-item
        p.control.has-icon.has-icon-right
          input.input(
            ng-model='vm.settings.queryString'
            placeholder="search file by name"
            ng-change="vm.fetchFiles()"
            type="text")
          i.fa.fa-search
    .level-right
      .level-item
        label Page Size
      .level-item
        p.control
          span.select
            select(
              ng-model="vm.pageSize"
              ng-options="option for option in vm.pageOptions"
              ng-change="vm.updatePageSize()"
              )
.content(ng-show='vm.root && vm.root !=="root"')
  a(ng-repeat='breadCrumb in vm.breadCrumbs'
    ng-click="vm.setFolder(breadCrumb[1])"
    ) {{breadCrumb[0]}} /
.content
  table.table.is-striped.is-bordered.is-narrow
    thead
      tr
        th 
          | File Name
          .icon.is-small(ng-click="vm.sortFilesDesc()")
            i.fa.fa-sort-alpha-desc
        th Last Modified
        th Size
    tbody
      tr(ng-repeat='file in vm.files')
        td(ng-hide='file.folder') {{file.name}}
        td(ng-show='file.folder')
          a(ng-click="vm.setRoot(file)"){{file.name}}
        td {{file.lastModified | date : medium}}
        td {{file.size | filesize}}
pagination(
  total-files-count="vm.totalFilesCount",
  page-size="vm.pageSize"
  update-file-list = "vm.updatePageNumber(pageNumber)"
  )
