section.hero.is-info.is-bold
  .hero-head
    .container
      nav.nav
        .nav-left
          h2.nav-item AWS S3 Client
        .nav-menu.nav-right
          .nav-item
            a.has-icon.has-icon-right(
                ng-click="vm.toggleDisplay(true)"
                ng-href=""
                ng-class="{'is-active':vm.showUpload}"
                ) Upload
              span.icon
                i.fa.fa-cloud-upload
          .nav-item
            a.has-icon.has-icon-right(
                ng-click="vm.toggleDisplay(false)"
                ng-href=""
                ng-class="{'is-active':vm.showFiles}")
              | File List
              span.icon
                i.fa.fa-table
          .nav-item
            a.has-icon.has-icon-right(
                ng-click="vm.setShowSettings(true)"
                ng-href="")
              | Settings
              span.icon
                i.fa.fa-gear
section.section
  .container
    files(ng-if="vm.showFiles")
    file-upload(ng-if="vm.showUpload")
    settings(show-settings="vm.showSettings"
      set-show-settings = "vm.setShowSettings(showSettings)"
      )

