.modal(ng-class="{'is-active':vm.showSettings}")
  .modal-background
  .modal-container
    .modal-content
      .container
        .box
          label.label Access Key ID
          p.control
            input.input(
              type="text"
              ng-model="vm.accessKey"
              placeholder="Access Key ID looks like 'AKIAIOSFODNN7EXAMPLE'"
              )
          label.label Secret Access Key
          p.control
            input.input(
              type="text"
              ng-model="vm.secretKey"
              placeholder="Secret Access Key looks like 'wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY'"
              )
          label.label Bucket (root folder)
          p.control
            input.input(
              type="text"
              ng-model="vm.bucket"
              placeholder="Can be 'bucket1' or 'bucket1/folder1/folder2'"
              )
          .control.is-grouped
            p.control
              a.button.is-primary(
                ng-class="{'is-loading': vm.loading}"
                ng-disabled="!(vm.accessKey && vm.secretKey && vm.bucket)"
                ng-click="vm.saveSettings()")
                | Save
  button.modal-close(ng-click="vm.updateShowSettings(false)")
